<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>241169639690-4nvak49kapdq5p59itrb2jo8hvsoletf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.241169639690-4nvak49kapdq5p59itrb2jo8hvsoletf</string>
	<key>API_KEY</key>
	<string>AIzaSyAyBByLHHwQejr59VHLaf1WWlf5nBwhYig</string>
	<key>GCM_SENDER_ID</key>
	<string>241169639690</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopcake</string>
	<key>PROJECT_ID</key>
	<string>shop-cake-f95a9</string>
	<key>STORAGE_BUCKET</key>
	<string>shop-cake-f95a9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:241169639690:ios:64d48a367c2af1a36eb2f3</string>
</dict>
</plist>